<div class="container login p-5">
  <h2 class="form-title fw-bold">REGISTER</h2>
        <p id="register-error" class="text-danger text-center"></p>
  <form id="facebook-form" method="post">
    <div>
      <label for="email" class="form-label">Username</label>
      <div class="space"><input style="padding: 10px" class="button button--piyo input-login" type="text" id="register-username"></div>
      <div class="button__wrapper">
        <span class="button__text"></span>
      </div>
      </input>
        <p id="username-error" class="text-danger"></p>
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <div class="space"><input style="padding: 10px" class="button button--piyo input-login" type="password" id="register-password"></div>
      <div class="button__wrapper">
        <span class="button__text"></span>
      </div>
      </input>
      <p id="password-error" class="text-danger"></p>
    </div>
    <div>
      <label for="password" class="form-label">Confirm Password</label>
      <div class="space"><input style="padding: 10px" class="button button--piyo input-login" type="password" id="register-confirm-password"></div>
      <div class="button__wrapper">
        <span class="button__text"></span>
      </div>
      </input>
      <p id="password-confirm-error" class="text-danger"></p>
    </div>
    <div class="mt-5 pt-4">
      <button type="submit" class="button button--pen">
        <div class="button__wrapper">
          <span class="button__text fw-bold">REGISTER</span>
        </div>
        <div class="characterBox">
          <div class="character wakeup">
            <div class="character__face"></div>
            <div class="charactor__face2"></div>
          </div>
          <div class="character wakeup">
            <div class="character__face"></div>
            <div class="charactor__face2"></div>
          </div>
          <div class="character">
            <div class="character__face"></div>
            <div class="charactor__face2"></div>
          </div>
        </div>
      </button>
    </div>
  </form>
</div>