.footer-48201 {
    padding: 4rem 0;
    background-color: #000;
    color: #777;
    .footer-site-logo {
        font-size: 1.5rem;
        color: #fff;
    }
    .nav-links {
        li {
            margin-bottom: 10px;
            a {
                color: gray;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .btn.btn-tertiary {
        background-color: #e42c64;
        color: #fff;
        border-radius: 30px;
        border: none;
        padding: 10px 20px;
    }
    .social {
        li {
            display: inline-block;
            a {
                color: gray;
                padding: 7px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .copyright {
        border-top: 1px solid #404040;
    }
}