<div id="about-main">
    <div class="story-container">

        <div class="origin-story-container" style="text-align: justify;">
            <h1 class="text-center title">
                Our History
            </h1>
            <p>
                MyKingDom is an innovative and customer-centric online retailer
                that aims to provide a seamless and enjoyable shopping
                experience. As a trusted destination for a wide range of
                products, we strive to meet the diverse needs and preferences of
                our customers. With a commitment to quality, competitive
                pricing, and exceptional customer service, MyKingDom has earned
                a reputation as a reliable and trustworthy online shopping
                platform.
            </p>
            <p>
                At MyKingDom, we understand the importance of offering a
                comprehensive selection of products across various categories.
                From electronics, fashion, and home decor to beauty products and
                more, our diverse inventory ensures that customers can find
                exactly what they're looking for. We carefully curate our
                collection, partnering with trusted manufacturers and suppliers
                to ensure that our customers receive products of the highest
                quality.
            </p>
            <p>
                We prioritize affordability and value, regularly reviewing and
                adjusting our prices to offer competitive deals and savings
                opportunities. With secure payment options and robust data
                protection measures, we prioritize the security of our customers'
                financial information.

                Our user-friendly website and intuitive interface provide a
                convenient and hassle-free shopping experience. Customers can
                easily navigate our platform, compare products, read reviews,
                and make informed purchasing decisions. We also offer responsive
                customer support, with a dedicated team ready to assist
                customers with any inquiries or concerns they may have.

                With fast and reliable shipping services, we ensure that orders
                are delivered promptly and efficiently. Our return and refund
                policy aims to provide fair and transparent options for
                customers who are not completely satisfied with their purchases.
            </p>

        </div>
        <br>
        <div class="row mb-3" style="max-width: 950px; margin: 0 auto; padding:
            0 20px;">
            <div class="col-lg-6 d-flex justify-content-center">
                <img src="img/logo/introduction.jpg"
                    class="img-responsive m-auto px-3"
                    style="width:400px" />
            </div>
            <div class="col-lg-6">
                <div class="today-container" style="text-align: justify;">
                    <h1 class="text-center title mt-4 mt-lg-0">
                        Commitment to quality
                    </h1>
                    <p>
                        APIMatic has come a long way since its inception 3 years
                        ago. Having started with only
                        generating SDKs, APIMatic now provides solutions in
                        other areas of developer experience as
                        well. Presently, APIMatic is used by numerous
                        organizations around the world to:
                    </p>
                    <ul>
                        <li>Create and store definitions of their APIs</li>
                        <li>Generate SDKs for their APIs for 10 platforms</li>
                        <li>Keep these SDKs in sync with API updates</li>
                        <li>Convert API descriptions into multiple formats
                            (Swagger, API Blueprint, RAML etc.)</li>
                        <li>Generate beautiful documentation for their APIs and
                            SDKs</li>
                        <li>Generate complete Developer Experience API Portals</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="origin-story-container mb-5">
            <h1 class="text-center title mt-4">Pros buying at MyKingDom</h1>
            <h5>Privacy Policy</h5>
            <p>
                This Privacy Policy describes how we handle your personal
                information for our services on the web toy. It applies
                generally to the web toy and content (collectively, the
                "Services"). Additional terms apply to some Services and are
                linked at the bottom of this Privacy Policy. We also have a
                Cookie Policy which describes our use of cookies and similar
                technologies. By using our Services you agree to this Privacy
                Policy, including the Cookie Policy.
            </p>

            <h5>Terms & Conditions</h5>
            <p>
                By using our web toy, you agree to the terms and conditions
                outlined in this Privacy Policy. If you do not agree to these
                terms and conditions, please do not use our web toy. We reserve
                the right to change, modify, add, or remove portions of this
                Privacy Policy at any time. If we change our Privacy Policy, we
                will post those changes on this page. Please check this page
                periodically for changes. Your continued use of our web toy
                following the posting of changes to these terms will mean you
                accept those changes.
            </p>
            <h5>Partners</h5>
            <p>
                We may partner with third parties to provide our web toy. When
                you use our web toy, you may also be subject to the terms and
                conditions and privacy policies of our partners. Please make
                sure to read the terms and conditions and privacy policies of
                our partners before using our web toy.
            </p>
        </div>
    </div>
</div>